@if (!isOverlayOpen()) {
    <div class="border border-neutral-800 rounded-xl overflow-hidden" style="view-transition-name: site-preview">
        <div class="flex gap-2 border-b border-neutral-800 rounded-t-xl p-4" style="view-transition-name: technologies;">
            <span class="font-semibold text-sm" style="view-transition-name: technologies-title;">Tecnologias usadas:</span>
            <div class="flex items-center divide-x-1 divide-neutral-800 text-xs">
                @if(websites()[currentIndex()].technologies.includes('angular')) {
                    <span class="px-2 text-red-100" [ngStyle]="{'view-transition-name': 'angular'}" @slide>Angular</span>
                }
                @if(websites()[currentIndex()].technologies.includes('tailwind')) {
                    <span class="px-2 text-cyan-100" [ngStyle]="{'view-transition-name': 'tailwind'}" @slide>Tailwind</span>
                }
                @if(websites()[currentIndex()].technologies.includes('html')) {
                    <span class="px-2 text-neutral-400" [ngStyle]="{'view-transition-name': 'html'}" @slide>HTML</span>
                }
                @if(websites()[currentIndex()].technologies.includes('css')) {
                    <span class="px-2 text-neutral-400" [ngStyle]="{'view-transition-name': 'css'}" @slide>CSS</span>
                }
                @if(websites()[currentIndex()].technologies.includes('js')) {
                    <span class="px-2 text-neutral-400" [ngStyle]="{'view-transition-name': 'js'}" @slide>JavaScript</span>
                }
            </div>
        </div>
        <div class="aspect-video overflow-hidden relative group" style="view-transition-name: img-preview">
            <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center opacity-90 
            group-hover:opacity-0 transition-all duration-500">
                <h2 class="text-4xl font-semibold"> {{ websites()[currentIndex()].title }} </h2>
                <span>Website</span>
            </div>
            <button class="absolute top-1/2 left-1/13 -translate-y-1/2 bg-neutral-900/15 backdrop-blur rounded-full p-3 border border-neutral-100/10 opacity-20 group-hover:opacity-100
            hover:bg-neutral-900/30 hover:border-neutral-100/30 transition-all z-10"
            style="view-transition-name: left-btn;"
            (click)="previous()">
                <i class="fi fi-rr-angle-small-left flex"></i>
            </button>
            <button class="absolute top-1/2 right-1/13 -translate-y-1/2 bg-neutral-900/15 backdrop-blur rounded-full p-3 border border-neutral-100/10 opacity-20 group-hover:opacity-100
            hover:bg-neutral-900/30 hover:border-neutral-100/30 transition-all z-10"
            style="view-transition-name: right-btn;"
            (click)="next()">
                <i class="fi fi-rr-angle-small-right flex"></i>
            </button>
            <button class="absolute py-2 px-6 bottom-1/15 left-1/2 -translate-x-1/2 bg-neutral-950/25 backdrop-blur rounded-full z-10 text-sm font-semibold
            hover:bg-neutral-950/35 transition-all"
            (click)="open()">
                Dar uma olhada
            </button>
            <img class="w-full h-full object-cover object-top rounded-b-xl brightness-30 saturate-50
            group-hover:brightness-80 group-hover:saturate-100 transition-all duration-300" style="view-transition-name: img"
            [src]="websites()[currentIndex()].imgUrl" alt="">
        </div>
    </div>
}

<ng-template #overlayTemplate>
    <div class="border border-neutral-800 rounded-t-xl overflow-hidden bg-neutral-950 flex flex-col h-full w-full" style="view-transition-name: site-preview">
        <div class="flex justify-center gap-2 border-b border-neutral-800 rounded-t-xl p-4" style="view-transition-name: technologies;">
            <span class="font-semibold text-lg" style="view-transition-name: technologies-title;">Tecnologias usadas:</span>
            <div class="flex items-center divide-x-1 divide-neutral-800">
                @if(websites()[currentIndex()].technologies.includes('angular')) {
                    <span class="px-2 text-red-100" [ngStyle]="{'view-transition-name': 'angular'}" @slide>Angular</span>
                }
                @if(websites()[currentIndex()].technologies.includes('tailwind')) {
                    <span class="px-2 text-cyan-100" [ngStyle]="{'view-transition-name': 'tailwind'}" @slide>Tailwind</span>
                }
                @if(websites()[currentIndex()].technologies.includes('html')) {
                    <span class="px-2 text-neutral-400" [ngStyle]="{'view-transition-name': 'html'}" @slide>HTML</span>
                }
                @if(websites()[currentIndex()].technologies.includes('css')) {
                    <span class="px-2 text-neutral-400" [ngStyle]="{'view-transition-name': 'css'}" @slide>CSS</span>
                }
                @if(websites()[currentIndex()].technologies.includes('js')) {
                    <span class="px-2 text-neutral-400" [ngStyle]="{'view-transition-name': 'js'}" @slide>JavaScript</span>
                }
            </div>
        </div>
        <div class="relative group h-full overflow-hidden" style="view-transition-name: img-preview">
            <button class="absolute top-1/2 left-1/13 -translate-y-1/2 bg-neutral-900/15 backdrop-blur rounded-full p-3 border border-neutral-100/10 opacity-20 group-hover:opacity-100
            hover:bg-neutral-900/30 hover:border-neutral-100/30 transition-all z-10">
                <i class="fi fi-rr-angle-small-left flex"></i>
            </button>
            <button class="absolute top-1/2 right-1/13 -translate-y-1/2 bg-neutral-900/15 backdrop-blur rounded-full p-3 border border-neutral-100/10 opacity-20 group-hover:opacity-100
            hover:bg-neutral-900/30 hover:border-neutral-100/30 transition-all z-10">
                <i class="fi fi-rr-angle-small-right flex"></i>
            </button>
            <img class="w-full h-full object-cover object-top"
            [src]="websites()[currentIndex()].imgUrl" alt="" style="view-transition-name: img">
            <!-- <iframe class="w-full h-full"
            src="https://edumoreiira.github.io/aju-films/" style="view-transition-name: img"></iframe> -->
        </div>
    </div>
</ng-template>