<div class="flex gap-2 border-b border-neutral-800 rounded-t-xl p-4">
    <span class="font-semibold text-sm">Tecnologias usadas:</span>
    <div class="flex items-center divide-x-1 divide-neutral-800 text-xs">
        <span class="text-red-100 px-2">Angular</span>
        <span class="text-cyan-100 px-2">Tailwind</span>
        <span class="text-neutral-400 px-2">HTML</span>
        <span class="text-neutral-400 px-2">CSS</span>
        <span class="text-neutral-400 px-2">JavaScript</span>
    </div>
</div>
<div class="aspect-video overflow-hidden">
    <img class="w-full h-full object-cover object-top"
    src="./website-preview/aju-films.jpeg" alt="">
</div>