<div class="max-w-[23rem] flex flex-col py-4 px-6 rounded-2xl border border-neutral-800 text-neutral-200 cursor-pointer   
hover:bg-neutral-600/10 hover:border-neutral-600 transition-all duration-200 overflow-hidden" (click)="toggle()">
    <div class="flex items-center justify-between gap-20">
        <p class="leading-none font-semibold text-lg">Entrega na hora</p>
        <div class="flex items-center gap-1">
            <i class="fi fi-rr-time-fast flex text-lg"></i>
            <i class="fi fi-rr-caret-down flex text-sm"></i>
        </div>
    </div>
    @if (opened()) {
        <hr class="border-0 h-px bg-gradient-to-r from-transparent via-neutral-800 to-transparent my-4" @slide>
        <p class="text-neutral-400 text-sm" @slide>A entrega é feita em até 24 horas após a confirmação do pagamento.</p>
    }
</div>
