.halftone-mask {
  mask-image: radial-gradient(ellipse at center, black 5%, transparent 70%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  
  -webkit-mask-image: radial-gradient(ellipse at center, black 5%, transparent 70%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
    opacity: 0.2;
    scale: 1.3;
    transform: translateY(-5%);
  @media screen and (min-width: 620px) {
    opacity: 0.1;
    scale: 1;
  }
}

.glow-fx {
    ::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 0 0 100px 30px hsla(60, 100%, 20%, 0.5);
        z-index: -1;
    }
}