<main class="relative">
    <img src="./patterns/binary-code.jpg"
    class="saturate-0 halftone-mask absolute mix-blend-exclusion invert w-full h-[calc(100%+5rem)] object-cover -z-10">
    <section class="page-container pt-18 md:pt-24 pb-12 md:pb-16">
        <div class="flex sm:gap-6 gap-4 flex-col items-center justify-center">
            <div class="flex flex-col items-center text-center">
                <span class="flex flex-col items-center gap-2 sm:mb-0 mb-2 sm:font-medium">
                    {{ lg().main.misc }}
                    <span class="inline-block h-[1px] w-[3rem] bg-neutral-800"></span> 
                </span>
                <h1 class="sm:text-6xl text-4xl w-[min(60rem,100%)] leading-tight">
                    {{ lg().main.title[0] }} <b class="font-semibold"> {{ lg().main.title[1] }} </b> {{ lg().main.title[2] }} <b class="font-semibold">{{ lg().main.title[3] }}</b> {{ lg().main.title[4] }} <b class="font-semibold">{{ lg().main.title[5] }}</b>
                </h1>
            </div>
            <div class="w-[min(33rem,85%)] mx-auto">
                <p class="text text-neutral-400 text-center">
                    {{ lg().main.description }}
                </p>
            </div>

            <div class="flex items-center sm:gap-8 gap-4">
                <button custom-btn variant="contained"
                class="min-w-[9rem] py-2 px-4 rounded-xl font-semibold
                ">
                    {{ lg().main.button1 }}
                </button>
                <button custom-btn variant="outline"
                class="min-w-[9rem] py-2 px-4 rounded-xl">
                    {{ lg().main.button2 }}
                </button>
            </div>


        </div>
    </section>
</main>

<section>
    <div class="page-container grid sm:grid-cols-2 grid-cols-1 gap-4 py-12 md:py-16 grid-rows-1 lg:h-[36rem] sm:h-[38rem] h-auto">
        <div class="flex flex-col gap-4 justify-between">
            <div>
                <h1 class="text-2xl font-semibold mb-2">{{ lg().works.title }}</h1>
                <p class="text-neutral-400">
                    {{ lg().works.description }}
                </p>
            </div>
            @for (item of websites(); track $index) {
                <accordion [title]="item.title" [isOpen]="currentSiteIndex() === $index" (clicked)="setCurrentSiteIndex($index)">
                    <div class="flex flex-col gap-4 items-start">
                        <p class="text-neutral-400">{{ item.description }}</p>
                        <a [href]="item.websiteUrl" target="_blank" rel="noopener"
                        class="text-white font-semibold text-shadow-[0_2px_16px] text-shadow-white/25 
                        hover:text-neutral-400 transition-colors text-sm self-end"
                        > {{ item.button }} </a>
                    </div>
                </accordion>
            }
        </div>
        <div class="aspect-video sm:aspect-auto ">
            <app-site-previewer [websites]="websites()"/>
        </div>
    </div>
</section>

<section>
    <div class="page-container py-12 md:py-16">
        <div>
            <h1 class="text-3xl font-semibold mb-6 sm:mb-8 text-center">{{ lg().advantages.title }}</h1>
            <div class="flex flex-col gap-4">
                <div class="flex items-start justify-center gap-4 md:flex-row flex-col">
                    <app-tag class="bg-gradient-to-bl from-0% to-40% from-blue-800/5 to-transparent"
                        [title]="lg().advantages.items[0].title"
                        [description]="lg().advantages.items[0].description"
                        icon="fi-rr-time-fast"
                    />
                    <app-tag class="bg-gradient-to-bl from-0% to-40% from-violet-800/5 to-transparent"
                        [title]="lg().advantages.items[1].title"
                        [description]="lg().advantages.items[1].description"
                        icon="fi-rr-palette"
                    />
                </div>
                <div class="flex items-start justify-center gap-4 md:flex-row flex-col">
                    <app-tag class="bg-gradient-to-bl from-0% to-40% from-sky-800/5 to-transparent"
                        [title]="lg().advantages.items[2].title"
                        [description]="lg().advantages.items[2].description"
                        icon="fi-rr-laptop-mobile"
                    />
                    <app-tag class="bg-gradient-to-bl from-0% to-40% from-lime-800/5 to-transparent"
                        [title]="lg().advantages.items[3].title"
                        [description]="lg().advantages.items[3].description"
                        icon="fi-rr-bubble-discussion"
                    />
                </div>
                <div class="flex items-start justify-center gap-4 md:flex-row flex-col">
                    <app-tag class="bg-gradient-to-bl from-0% to-40% from-red-800/5 to-transparent"
                        [title]="lg().advantages.items[4].title"
                        [description]="lg().advantages.items[4].description"
                        icon="fi-rr-discover"
                    />
                </div>
            </div>
        </div>
    </div>
</section>